.p1 {
font-size: 1.7rem;
font-family:"arial";
text-shadow: 0px 0 #DA0463;
 color:black;
 border-left-width:1px;
 border-right-width:1px;
 border-style:solid;
 border-color:red;
 background-color:red; 
 margin: 10px 60px 5px 50px;
}

body {
text-align:center;
background-color:#d0d5db;
}

.logo{
border-radius: 0px;
outline: none;
width:91.8%;
height: 91.8%;
text-align: center;
margin:0px 0px 0px 0px;
}
}
.p2 {
font-size: 1.9rem;
font-family:"arial";
text-shadow: 0px 0 #DA0463;
 color:black;
 border-left-width:10px;
 border-right-width:10px;
 border-style:solid;
 border-color:LightGray;
 background-color:LightGrey; 
 margin: -25px 0px 0px 0px;
 width:1275px;
height: 80px;
}
.logo-background {
background-color:black;
 margin: 10px 0px 0px -10px;
}

.p3 {
font-size: 1.9rem;
font-family:"arial";
text-shadow: 0px 0 ;
 color:red;
 background-color:black; 
 margin: 10px 60px 10px 60px;
}
.p4 {
font-size: 1.9rem;
font-family:"arial";
text-shadow: 0px 0 ;
 color:white;
 background-color:white; 
 margin: 10px 60px 10px 60px;
  padding: 15px;
  background: white;
  background-clip: padding-box;
}
.p6 {
color:white;
font-size: 1.9rem;
font-family:"arial";
text-shadow: 0px 0 #DA0463;
 color:black;
 border-left-width:10px;
 border-right-width:10px;
 border-style:solid;
 border-color:LightGray;
 background-color:LightGray; 
 margin: -80px 0px 0px 0px;
 width: 5px;
height: 80px;
}
.navbar .nav-item .dropdown-menu{
	display: none;
	margin:0px 0px 0px 0px;
}
.navbar .nav-item:hover .nav-link{
background-color:black;
color:white;
margin:0px 0px 0px 0px;
}
.navbar .nav-item:hover .dropdown-menu{
display: block;
background-color:grey;
margin:0px 0px 0px 0px;
}
.navbar .nav-item .dropdown-menu{
margin-top:0; 
background-color:lightgrey;
color:black;
margin:0px 20px 0px 0px;
}

.navbar navbar-expand-lg navbar-dark bg-primary{
background-color:grey;
color:black;
color:secondary;
margin:0px 20px 20px 20px;
}
.box {
  background-color: white;
 margin:-10px 52px -15px 52px
}

h2 {
  background-color: blue;
  color: red;
}
span {
  background-color: yellow(255,255,255,.5);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin:30px 30px 30px 30px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.pos{
font-size: 1.7rem;
font-family:"arial";
text-shadow: 0px 0 #DA0463;
 color:black;
 border-left-width:1px;
 border-right-width:1px;
 border-style:solid;
 border-color:red;
 background-color:red; 
 margin: 10px 60px 5px 50px;
}
.pictures{
}
.p5
{
border-bottom-width:5px;
border-left-width:5px;
border-right-width:5px;
margin:0px 0px 0px 0px;
center:
}
.td
{

}
.container{
color:white;
background-color:gray;

}
